<h1>Getting Started</h1><br>
<p>Welcome to The Bees Needs! To get started you will first need to <strong><%= link_to "register your bee block.", new_block_path %></strong>
</p>
<p>Once you've registered your block, you can start <strong><%= link_to "making reports!", new_report_path %></strong>
</p>
