 <h2><a name="top" id="top"></a>About Us </h2>
  <p><strong>Project Overview</strong></p>
  <p class="bodytext">In recent years, the popular media in the United States has been buzzing with news of mysteriously disappearing Western honey bee populations (&ldquo;Colony Collapse Disorder&rdquo;).  A less well-known, but potentially scarier problem is that the native bees that have been pollinating North American flowering plants for millions of years are also showing signs of decline.  To that end, we need more information on our native bees to assess the extent and severity of population declines and to start understanding their causes.</p>
  <p class="bodytext">While most of our solitary native bees and wasps nest in the ground, some species have evolved to use holes in wood such as those made by beetles.  Others use hollow stems of plants, like rose canes.  Many of these cavity nesters will nest in man-made blocks as well.  While nesting, they bring in various materials including leaves, mud, or resin.  The composition of the material used to plug the nest is specific to the type of bee or wasp, and so it provides a clever way to categorize what has nested in the block.</p>
  <p class="bodytext">The Bees&rsquo; Needs is a Citizen Science project that focuses on collecting data on native, solitary, wood-nesting bees and wasps by recording characteristics of the nest plugs constructed by these insects in a standardized bee block.  These nest plug data will help us:</p>
  <p class="bodytext">-&nbsp;assess the abundance and diversity of these wood-nesting bees and wasps<br>
	  -&nbsp;explore relationships of abundance and diversity to landscape attributes<br>
  -&nbsp;increase awareness of and spark an interest in native bees and wasps</p>
  <p>&nbsp;</p>
  <p><strong>Alexandra Rose </strong></p>
  <p class="bodytext"><img src="http://beesneeds.colorado.edu/images/alex_with_hawk_150p.jpg" alt="Alexandra with hawk" width="150" height="175" class="floatleft" />Dr.  Alexandra Rose is the Citizen Scientist Coordinator at the University  of Colorado Museum of Natural History and Science Discovery. Alex has  a PhD in Ecology and Evolutionary Biology from UC Santa Cruz, where  she studied Tree Swallows for her dissertation, relying on an  entirely volunteer workforce of field assistants ranging in age from  17 to 67. After graduate school she taught for 3 years at the  University of Wyoming. She and her husband moved to Boulder last  summer. Although she&rsquo;s primarily a bird biologist, Alex has  experience working with a variety of species including white-tailed  deer, small mammals, and even polar bears! She is excited learn more  about our native bees alongside The Bees&rsquo; Needs participants. </p>
  <p class="bodytext">Contact her at <a href="mailto:TheBeesNeeds@colorado.edu">TheBeesNeeds@colorado.edu</a> </p>
  <p class="bodytext">&nbsp;</p>
  <p class="bodytext"><strong>Virginia Scott </strong></p>
  <p class="bodytext"><img src="http://beesneeds.colorado.edu/images/va_with_net_150p.jpg" alt="Virginia with net" width="150" height="175" class="floatleft" />Virginia  Scott is the Collections Manager of the Entomology Collections at the  University of Colorado Museum of Natural History.  Her work with  solitary wood-nesting bees began in 1983, in the meadows of Upper  Michigan while observing a bee (<em>Osmia  lignaria</em>) nicknamed R-2  for ten days straight.  She continued with that study for a decade  during which time she completed her Master&rsquo;s Degree in Entomology  at Michigan State University studying the biology of wood-nesting <em>Hylaeus</em>.   In 1994, she moved to Colorado.  She collected bees locally by  trap-nesting during the summers of 1994 and 1996.  Those specimens  serve as the basis for The Bees&rsquo; Needs, which will hopefully  inspire others to learn more about native bees.  In 2011 she was lead  author on <a href="http://cumuseum.colorado.edu/bees-colorado">The Bees of Colorado</a>.  When not working on bees (and  sometimes while working on bees), she&rsquo;s busy with her family.</p>
  <p class="bodytext">Contact her at <a href="mailto:TheBeesNeeds@colorado.edu">TheBeesNeeds@colorado.edu</a></p>
  <p class="bodytext">&nbsp;</p>
  <p><strong>Rebecca Schild</strong></p>
  <p class="bodytext"><img src="http://beesneeds.colorado.edu/images/RebeccaSchild_150p.jpg" alt="Rebecca Schild" width="150" height="175" class="floatleft" />Rebecca Schild is a PhD student in the Environmental Studies Program at the University of Colorado at Boulder, researching the link between citizen science and civic ecology on individual environmental values and literacy and community capacity to address environmental change.  She received her BA at Colorado College in International Sustainable Development and a Masters of Environmental Management at the Nicholas School of the Environment, Duke University.  A Colorado native, she is an avid outdoor enthusiast and spends most of her free time scaling rock faces with her husband. </p>
  <p class="bodytext">Contact her at: rebe<a href="http://www.google.com/recaptcha/mailhide/d?k=01LA9bau1IE_7pPTuyc7HTSw==&amp;c=F36iBcxbg__kmpmeW0F9_gvlLr7XcEQpbF9yzN8KYUs=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501LA9bau1IE_7pPTuyc7HTSw\75\75\46c\75F36iBcxbg__kmpmeW0F9_gvlLr7XcEQpbF9yzN8KYUs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com</p>
  <p>&nbsp;</p>
  <p><strong>Aly Seeberger</strong></p>
  <p class="bodytext"><img src="http://beesneeds.colorado.edu/images/AlySeeberger_150p.jpg" alt="Aly Seeberger" width="150" height="175" class="floatleft" />Aly Seeberger is a graduate student at the University of Colorado Boulder, currently pursuing a Master's degree in Museum and Field Studies. Her thesis research looks at citizen scientists and their motivations, seeking to optimize the experience for users and sponsoring institutions alike. She currently works at the CU Museum of Natural History in the Zoology collections, preparing and cataloging specimens. In her spare time, she plays roller derby for the Boulder County Bombers.</p>
 
  <p class="bodytext">Contact her at: alys<a href="http://www.google.com/recaptcha/mailhide/d?k=01LA9bau1IE_7pPTuyc7HTSw==&amp;c=vITTt0otIr5HuGupplYLFSAslmN22IVci_EYpfOuSsA=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501LA9bau1IE_7pPTuyc7HTSw\75\75\46c\75vITTt0otIr5HuGupplYLFSAslmN22IVci_EYpfOuSsA\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@gmail.com</p>
  
  
  
  <p><br />
  </p>
  <p><br />

</div>
<br class="clearfloat" />
<div id="footer"> 
<center>
<div class="column"><p><a href="contact.html">Contact</a><br /><br />
	     
</p></div>
 <div class="column"><p>Sponsored by:<br />
   <a href="http://www.botanicalinterests.com/"><img src="http://beesneeds.colorado.edu/images/BotanicalInterestsLogo_225p.jpg" alt="Botanical Interests" border="0" /></a></p>
	     </div>
 <div class="column"><p><a href="http://cumuseum.colorado.edu"><img src="http://beesneeds.colorado.edu/images/cu_logo_225px.png" alt="University of Colorado Museum of Natural History" border="0" /></a></p></div>
</div>
</div>
</center>
